* {
  box-sizing: border-box;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

nav .active {
  border-bottom: solid 2px #eb8f1e;
  color: #eb8f1e;
}

.scroller[data-animated="true"] {
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.scroller[data-animated="true"] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.flip-card {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.flip-card-front {
  transform: rotateY(0deg);
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.flip-card-front .inner {
  transform: translateZ(60px);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.flip-card-back .inner {
  transform: translateY(-50%) translateZ(60px);
}

.flip-card:hover .flip-card-front {
  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateY(0deg);
}

.faqItem .details.active {
  max-height: auto;
}

.circle-animate .text p span {
  position: absolute;
  left: 50%;
  font-size: 10px;
  font-weight: 300;
  transform-origin: 0 4rem;
}

.circle-animate .text {
  animation: rotateText 10s linear infinite;
}

.swiper-pagination-bullet{
  background-color: rgb(255 255 255) !important;
  --tw-backdrop-blur: blur(24px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.swiper-pagination-bullet-active{
  background-color: #EB8F1E !important;
}

.swiper{
  height: fit-content;
  padding-bottom: 3rem !important;
}

.styles-module_floatingWhatsapp__yWF5K {
    height: auto !important;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 1365px) {
  html {
    font-size: 85%;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 65%;
  }
}
