* {
  box-sizing: border-box;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

nav .active {
  border-bottom: solid 2px #eb8f1e;
  color: #eb8f1e;
}

.navbar.scrolled{
  
}

.scroller[data-animated="true"] {
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.scroller[data-animated="true"] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.flip-card {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.flip-card-front {
  transform: rotateY(0deg);
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.flip-card-front .inner {
  transform: translateZ(60px);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.flip-card-back .inner {
  transform: translateY(-50%) translateZ(60px);
}

.flip-card:hover .flip-card-front {
  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateY(0deg);
}

.faqItem .details.active {
  max-height: auto;
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 90%;
  }
}
 @media only screen and (max-width: 1365px) {
  html {
    font-size: 85%;
  }
}
 @media only screen and (max-width: 1280px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 65%;
  }
}
